======================================
Gilded Rose 需求描述
======================================


歡迎來到鑲金玫瑰(Gilded Rose)團隊。如你所知，我們是主城中的一個小旅店，店主非常友好，名叫Allison。我們也售賣最好的物品。不幸的是，物品品質會隨著銷售期限的接近而不斷下降。
我們有一個系統來更新庫存信息。系統是由一個無名之輩Leeroy所開發的，他已經不在這了。
你的任務是添加新功能，這樣我們就可以售賣新的物品。

先介紹一下我們的系統：

	- 每種物品都具備一個`SellIn`值，表示我們要在多少天之前把物品賣出去，即銷售期
	- 每種的物品都具備一個`Quality`值，表示物品的品質
	- 每天結束時，系統會降低每種物品的這兩個數值

很簡單吧？這還有些更有意思的：

	- 一旦銷售期限過期，品質`Quality`會以雙倍速度加速下降
	- 物品的品質`Quality`永遠不會為負值
	- "Aged Brie"的品質`Quality`會隨著時間推移而提高
	- 物品的品質`Quality`永遠不會超過50
	- 傳奇物品"Sulfuras"永不到期，也不會降低品質`Quality`
	- "Backstage passes"與aged brie類似，其品質`Quality`會隨著時間推移而提高；當還剩10天或更少的時候，品質`Quality`每天提高2；當還剩5天或更少的時候，品質`Quality`每天提高3；但一旦過期，品質就會降為0


我們最近簽約了一個召喚物品供應商。這需要對我們的系統進行升級：

	- "Conjured"物品的品質`Quality`下降速度比正常物品快一倍

請隨意對UpdateQuality()函數進行修改和添加新代碼，只要系統還能正常工作。然而，不要修改Item類或其屬性，因為那屬於角落裡的地精，他會非常憤怒地爆你頭，因為他不相信代碼共享所有制（如果你願意，你可以將UpdateQuality方法和Items屬性改為靜態的，我們會掩護你的）。

再次澄清，每種物品的品質不會超過50，然而"Sulfuras"是一個傳奇物品，因此它的品質是80且永遠不變。